name: Lint Codebase

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read
  packages: read
  statuses: write
  checks: write
  issues: write
  pull-requests: write

jobs:
  lint:
    name: Lint Codebase
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - run: corepack enable
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Run Formatter
        if: github.event_name == 'pull_request'
        run: pnpm format

      - uses: reviewdog/action-suggester@v1.24
        if: github.event_name == 'pull_request'
        with:
          tool_name: prettier

      - uses: reviewdog/action-eslint@v1.34
        with:
          reporter: ${{ github.event_name == 'pull_request' && 'github-pr-review' || 'github-check' }}
          eslint_flags: '.'

      - uses: reviewdog/action-actionlint@v1.68
        with:
          reporter: ${{ github.event_name == 'pull_request' && 'github-pr-review' || 'github-check' }}
